---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        William Thornhill, Day-Trader & Businessman.
        <br />
        I am good at:
      </p>
      <ul class="list-disc list-inside">
        <li>Day-Trading</li>
        <li>Driving</li>
        <li>Construction</li>
        <li>Rapping</li>
        <li>Fashion</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond what I am good at, I'm always a hard working individual.
      A hobby of mine is rapping and making music, music really
      is the sound for the heart.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools & skills, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
